page-main {
  .pcm_content {
    background-color: white;
  }
  .pcm_head {
    background-image: url("../assets/imgs/icon_home_person_menu_bg.png");
    background-size: 100% 100%;
    height: 20%;
  }
  .pcm_head_id {
    margin-top: -35pt;
    margin-left: 30pt;
    font-size: 1.6rem;
  }
  .pcm_head_id>img {
    width: 5rem;
    height: 5rem;
  }
  .pcm_feedback {
    background-color: white;
    font-size: 1.7rem;
    padding: 12pt 10pt;
    border-top: 1px solid color($colors, line-break);
    border-bottom: 1px solid color($colors, line-break);
    margin-top: 12pt;
  }
  .pcm_feedback>img:first-child {
    width: 1.5rem;
    height: 1.2rem;
    margin-right: 5pt;
    vertical-align: bottom;
  }
  .pcm_feedback>img:last-child {
    width: 0.8rem;
    height: 1.3rem;
    right: 10pt;
    margin-top: 3pt;
    position: absolute;
  }
  .pcm_check_update{
    background-color: white;
    font-size: 1.7rem;
    padding: 12pt 10pt;
    border-bottom: 1px solid color($colors, line-break);
  }
  .pcm_check_update>img:first-child{
    width: 1.4rem;
    height: 1.5rem;
    margin-right: 5pt;
    vertical-align: bottom;
  }
  .pcm_check_update>ion-col{
    padding: 0px;
    margin-left: 5px;
  }
  .pcm_check_update>div{
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 20px;
    margin-right: 10pt;
  }
  .pcm_check_update>img:last-child {
    width: 0.8rem;
    height: 1.3rem;
    right: 10pt;
    position: absolute;
  }

  .sfm_content {
    background-color: white;
  }
  .sfm_grid {
    margin-top: 20pt;
    font-size: 1.6rem;
  }
  .sfm_grid ion-row:last-child{
    border-bottom: 1px solid color($colors, line-break);
  }
  .sfm_right_arrow {
    width: 0.7rem;
    height: 1rem;
    vertical-align: middle;
    margin-left: 3pt;
  }
  .bus_id_col {
    padding: 0px;
    min-height: initial;
    background-color: white;
  }
  .bus_id_col .radio-md[item-start]{
    margin: 0px 4px 0px 0px;
  }
  .bus_id_col .radio-ios[item-start] {
    margin: 0px 4px 0px 0px;
  }
  .bus_id_col[ion-item] .item-inner{
    padding-right: 0px;
    border: none;
  }
  .bus_id_col[ion-item] .item-inner .label-md{
    margin: 0px;
  }
  .bus_id_col[ion-item] .item-inner .label-ios {
    margin: 0px;
  }
  .sfm_bus_input {
    background-color: color($colors, app-background);
    border-radius: 5pt;
  }
  .sfm_bus_input .text-input{
    margin: 0px;
    padding: 8pt 4pt;
    max-width: 100%;
    width: 100%;
  }
  .sfm_end_station{
    background-color: color($colors, app-background);
    border-radius: 5pt;
    padding: 12pt 8pt;
    color: color($colors, third-text-color);
  }
  .sfm_end_station_active{
    color: color($colors, text-color);
  }
  .sfm_end_station_close{
    right: 5%;
    position: absolute;
  }
  .border_line_break {
    border-bottom: 1px solid color($colors, line-break);
  }
  .padding_10 {
    padding: 10pt 0pt;
  }
  .sfm_hot_station{
    padding-bottom: 8pt;
  }
  .sfm_hot_station:last-child{
    border-bottom: 1px solid color($colors, line-break);
  }
  .sfm_hot_station>button {
    border: 1px solid color($colors, line-break);
    // text-align: center;
    border-radius: 15pt;
    height: 2.1rem;
    width: 28%;
    font-size: 1rem;
    color:color($colors, second-text-color);
  }
  .sfm_datetime{
    padding: 0px;
  }
  .row-check {
    padding: 0px;
    background-color: white;
    min-height: initial;
    height: 25pt;
    border-bottom: 1px solid color($colors, line-break);
  }

  .row-check.item-md.item-block .item-inner {
    border: none;
  }

  .row-check.item-ios.item-block .item-inner {
    border: none;
  }

  .tip{
    margin: 5pt;
    color:color($colors,third-text-color);
  }
}
