<!--
  Generated template for the SchemDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>班次详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row justify-content-around class="sd_part1">
      <ion-col col-auto>
        <p>时间</p>
        <p>{{schem.DriveTime|date:"HH:mm"}}</p>
      </ion-col>
      <ion-col col-auto>
        <p>线路</p>
        <p>{{schem.StationName}}-{{schem.EndStopName}}</p>
      </ion-col>
      <ion-col col-auto>
        <p>班次</p>
        <p>{{schem.SchemNo}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="sd_part2" style="margin-top:15pt;">
      <ion-col col-3 (click)="modifyClick()">
        <img src="assets/imgs/icon_schem_modify.png" />
        <br> 修改
      </ion-col>
      <ion-col col-3 (click)="cloneClick()">
        <img src="assets/imgs/icon_schem_copy.png" />
        <br>克隆
      </ion-col>
      <ion-col col-3 (click)="shiftOpen()">
        <img [src]="schem.IsRun != 1?'assets/imgs/icon_schem_shift_open_enable.png':'assets/imgs/icon_schem_shift_open_disable.png'" />
        <br>开班
      </ion-col>
      <ion-col col-3 (click)="shiftClose()">
        <img [src]="schem.IsRun == 1?'assets/imgs/icon_schem_shift_close_enable.png':'assets/imgs/icon_schem_shift_close_disable.png'" />
        <br>停班
      </ion-col>
    </ion-row>
    <ion-row class="sd_part2">
      <ion-col col-3>
        <img src="assets/imgs/icon_schem_keep_seat.png" />
        <br> 留座
      </ion-col>
      <ion-col col-3>
        <img src="assets/imgs/icon_schem_detail.png" />
        <br>班次详情
      </ion-col>
      <ion-col col-3>
        <img src="assets/imgs/icon_schem_stop.png" />
        <br>站点停靠
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="sd_part3">
    <ion-row align-items-center justify-content-between>
      <ion-col col-5>
        <p>到站名称</p>
        <p class="text-ellipsis-end">{{schem.EndStopName}}</p>
      </ion-col>
      <ion-col col-auto class="license">
        {{schem.LicenseNo}}
      </ion-col>
      <ion-col>
        <p>状态</p>
        <p>{{schem.IsRun==0?"停班":schem.IsRun==1?"开班":"停班有售"}}</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-between class="line2">
      <ion-col col-auto>
        <p>已售</p>
        <p>{{schem.SaledNum}}</p>
      </ion-col>
      <ion-col col-auto>
        <p>余座</p>
        <p>{{schem.LeastSeatNum}}</p>
      </ion-col>
      <ion-col col-auto>
        <p>预定</p>
        <p>{{schem.LeastSeatNum}}</p>
      </ion-col>
      <ion-col col-auto>
        <p>检票口</p>
        <p>{{schem.CheckGateNo}}</p>
      </ion-col>
      <ion-col col-auto >
        <p>班次类别</p>
        <p style="text-align: right;">{{schem.SchemType}}</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-between>
      <ion-col col-auto>{{schem.CarrayCompanyName}}</ion-col>
      <ion-col col-auto>￥{{schem.Price}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
