<ion-header>
  <img src="assets/imgs/icon_main_person_center.png" menuToggle="personCenterMenu" class="home_person_center" />
  <div [ngClass]="stationSelectClass" (click)="stationSelect()">
    {{upStation}}
    <img src="assets/imgs/icon_main_down_arrow.png" />
    <br> {{selectDate | date:"yyyy年MM月dd日"}}
  </div>
  <div [ngClass]="menuClass">
    <img src="assets/imgs/icon_home_passenger_flow_summary.png" (click)="gotoPassengerFlowSummary()"/>
    <img src="assets/imgs/icon_home_ticket_search.png" (click)="showSearchDialog()" />
    <img src="assets/imgs/icon_home_ticket_filter.png" menuToggle="stationFilterMenu" />
  </div>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="stationSelected">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let s of schemList" class="schem_item schem_disable" [class.schem_disable]="s.IsRun==0" (click)="schemClick(s)">
      <div item-start class="schem_start">
        <strong>{{s.DriveTime|dateFormat}}</strong>
        <p>{{s.SchemNo}}车次</p>
      </div>
      <div item-center class="schem_center">
        <strong>{{s.StationName}}-{{s.EndStopName}}</strong>
        <p>已售 {{s.SaledNum}} 余座 {{s.LeastSeatNum}} 订票 {{s.ReserveNum}}</p>
      </div>
      <div item-end class="schem_end">
        <p>{{s.IsRun==0?s.SaledNum>0?"停班有售":"停班":"开班"}}</p>
        <p *ngIf="s.SchemTypeCode == 2" class="schem_type_enable">{{s.SchemType}}</p>
      </div>
    </ion-item>
  </ion-list>
  <div class="no_data" *ngIf="!schemList">
    <img src="assets/imgs/icon_home_no_data.png"/><br>
    {{selectedStation?"暂无内容":"请选择乘车站"}}
  </div>
  <ion-fab bottom right edge>
    <button ion-fab mini (click)="showLog()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
