<ion-header>
    <img src="assets/imgs/icon_main_person_center.png" menuToggle="personCenterMenu" class="home_person_center"/>
<div [ngClass]="stationSelectClass" (click)="stationSelect()">
        {{upStation}}  <img src="assets/imgs/icon_main_down_arrow.png"/><br>
        {{today | date:"yyyy年MM月dd日"}}
    </div>
    <div [ngClass]="menuClass" >
      <img src="assets/imgs/icon_home_passenger_flow_summary.png" />
      <img src="assets/imgs/icon_home_ticket_search.png" />
      <img src="assets/imgs/icon_home_ticket_filter.png" menuToggle="stationFilterMenu"/>
    </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-3>
        1-1
      </ion-col>
      <ion-col col-3>
        1-2
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
