page-home {
  ion-header {
    background-color: color($colors, primary);
    height: 22%;
  }
  .home_person_center {
    width: 2.5rem;
    height: 2.5rem;
    margin: 10pt;
    vertical-align: top; //去除img底部小部分空隙
  }
  .home_station_select {
    color: white;
    width: 50%;
    height: 40pt;
    left: 50%;
    text-align: center;
  }
  .home_station_select>span {
    font-size: 2rem;
  }
  .home_station_select>img {
    width: 1rem;
    height: 1rem;
  }
}
