page-schem-detail-clone {
  .scroll-content {
    background-color: white;
  }
  .grid {
    padding: 0px;
  }
  .grid>ion-row+ion-row {
    font-size: 1.6rem;
    padding: 8pt 5pt;
    border-bottom: 1px solid color($colors, line-break);
  }
  .part1 {
    background-color: white;
    padding: 5pt;
  }
  .part1>ion-col>p {
    font-size: 1.4rem;
    color: color($colors, third-text-color);
    text-align: center;
    margin: 0pt 0pt 5pt 0pt;
  }
  .part1>ion-col>p+p {
    font-weight: 600;
    font-size: 1.8rem;
    color: color($colors, text-color);
  }
  .divider {
    background-color: color($colors, app-background);
    height: 10pt;
  }
}
