// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.text-ellipsis-end {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-input-ios {
  margin: 13px 8px;
  width: calc(100% - 8px - 8px);
}


/* 去掉input number类型时，上下按钮 */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  font-weight: 500;
  font-size: 1.6rem;
}
.number_text{
  font-weight: 500;
  font-size: 1.6rem;
}

.alert-message {
  font-size: 1.8rem;
}

.arrow_down {
  width: 0;
  height: 0;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #999;
}

/* 班次详情 */

.sd_part1 {
  background-color: white;
  padding: 5pt;
}

.sd_part1>ion-col>p {
  font-size: 1.4rem;
  color: color($colors, third-text-color);
  text-align: center;
  margin: 0pt 0pt 5pt 0pt;
}

.sd_part1>ion-col>p+p {
  font-weight: 600;
  font-size: 1.8rem;
  color: color($colors, text-color);
}

.sd_part1>ion-col:nth-child(odd)>p+p {
  font-weight: 600;
  font-size: 1.8rem;
  color: color($colors, text-color);
}

.sd_part1>ion-col:nth-child(2)>p+p {
  font-weight: 600;
  font-size: 1.6rem;
  color: color($colors, text-color);
}


/* toggle 包在item下 */

.yz_toggle {
  background-color: transparent;
  min-height: unset;
}

.yz_toggle.item-md .item-inner {
  border-bottom: none;
}

.yz_toggle.item-ios .item-inner {
  border-bottom: none;
}

.yz_toggle.item-ios .toggle-ios {
  padding: 0px;
}
