<!--
  Generated template for the SearchIssueBusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>疑问班次查询</ion-title>
  </ion-navbar>
  <ion-row justify-content-around class="input-warp">
    <ion-col>
      <ion-datetime cancelText="取消" doneText="确认" placeholder="请选择发车日期" displayFormat="YYYY年MM月DD日" pickerFormat="YYYY MM DD" [(ngModel)]="driveDate"></ion-datetime>
    </ion-col>
  </ion-row>
  <ion-row class="input-warp">
    <button class="stopNo-button" (click)="getStopNo()">{{stopNo?stopNo:"请选择站点代码"}}</button>
    <!-- <ion-input class="default-input" type="text" placeholder="请输入站点代码" [(ngModel)]="stopNo"></ion-input> -->
  </ion-row>
  <ion-row align-items-center class="search-btn-wrap">
    <button class="search-btn" ion-button (click)="searchAction()">查询</button>
  </ion-row>
</ion-header>


<ion-content>
  <ion-scroll [hidden]="!(dataArray && dataArray.length > 0)" #headerScroll scrollX="false" scrollY="false" style="height:4rem; margin:10px 15px;">
    <ion-grid no-padding class="scroll-grid">
      <ion-row align-items-center class="title-row">
        <ion-col>发车时间</ion-col>
        <ion-col>车次号</ion-col>
        <ion-col>车型名称</ion-col>
        <ion-col>检票口</ion-col>
        <ion-col>终点站名</ion-col>
        <ion-col>客运类别</ion-col>
        <ion-col>班次类别</ion-col>
        <ion-col>全票票价</ion-col>
        <ion-col>半票票价</ion-col>
        <ion-col>隶属站名称</ion-col>
        <ion-col>承运单位</ion-col>
        <ion-col col-1>最小携童数</ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>
  <ion-scroll [hidden]="!(dataArray && dataArray.length > 0)" #contentScroll class="content-scroll" scrollX="true" scrollY="true">
    <ion-grid no-padding class="scroll-grid">
      <ion-row align-items-center class="content-row" *ngFor="let item of dataArray">
        <ion-col>{{item.DriveTime}}</ion-col>
        <ion-col>{{item.SchemID}}</ion-col>
        <ion-col>{{item.BusTypeName}}</ion-col>
        <ion-col>{{item.PassID}}</ion-col>
        <ion-col>{{item.EndStopName}}</ion-col>
        <ion-col>{{item.SchTypeName}}</ion-col>
        <ion-col>{{item.RunTypeName}}</ion-col>
        <ion-col>￥{{item.FullPrice}}</ion-col>
        <ion-col>￥{{item.HalfPrice}}</ion-col>
        <ion-col>{{item.StationName}}</ion-col>
        <ion-col>{{item.CarrierName}}</ion-col>
        <ion-col col-1>{{item.LeastFreeChildNum}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>
</ion-content>
